<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">Welcome!</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="userapi" th:content="@{/plugin/nms-users/api/users}"/>

    <link href="../../../content/nms-users-res/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/content/nms-users-res/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.css"/>
    <link href="../../../content/nms-users-res/css/core.css" rel="stylesheet" media="screen" th:href="@{/content/nms-users-res/css/core.css}" />

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/content/nms-users-res/js/bootstrap.min.js" th:src="@{/content/nms-users-res/js/bootstrap.min.js}"></script>
    <script src="../../../content/nms-users-res/js/users.js" th:src="@{/content/nms-users-res/js/users.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>
    <div class="form-group">
        <a th:href="@{/plugin/nms-users/ldap/user}" class="btn btn-primary" role="button" id="add_user">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span th:utext="#{user.new}"></span>
        </a>
    </div>

    <div>
        <table id="user_table" class="display">
            <thead>
            <tr>
                <th></th>
                <th th:utext="#{user.username}"></th>
                <th th:utext="#{user.name}"></th>
                <th th:utext="#{user.email}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>
</div>
</body>
</html>