<?xml version="1.0" encoding="UTF-8"?>

<plugin title="nms-users">
  
    <static-paths>
      <static-path url="/nms-users-res" localFolder="webapp/resources"/>
    </static-paths>

    <overlays>
        <overlay id="admin.perspective.overlay.ee" resourcebundle="content/nms-users-res/i18n/ldap_messages">
            <treechildren id="adminCatTreeChildren">
                <treeitem id="nms-users" container="true"
                          command="mantleXulHandler.loadAdminContent('nms-users', 'plugin/nms-users/ldap')">
                    <treerow>
                        <treecell label="${title}"/>q
                    </treerow>
                </treeitem>
            </treechildren>
        </overlay>
    </overlays>

</plugin>