<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.css"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/users.js" th:src="@{/resources/js/users.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <form method="post" th:action="@{/ldap/user}" th:object="${user}">
        <div class="form-group">
            <label for="username" th:utext="#{user.username}"></label>
            <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"/>
        </div>
        <div class="form-group">
            <label for="name" th:utext="#{user.password}"></label>
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
        </div>
        <div class="form-group">
            <label for="name" th:utext="#{user.name}"></label>
            <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label for="email" th:utext="#{user.email}"></label>
            <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label for="state" th:utext="#{user.state}"></label>
            <select class="form-control" id="state" th:field="*{state}">
                <option th:each="state: ${states}" value="${state}" th:text="${state}">${state}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="district" th:utext="#{user.district}"></label>
            <select class="form-control" id="district" th:field="*{district}">
                <option th:each="district: ${districts}" value="${district}" th:text="${district}"></option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" th:utext="#{save}"></button>
                <a th:href="@{/}" class="btn btn-info" role="button" th:utext="#{cancel}"></a>
            </div>
        </div>
    </form>
</div>
</body>
</html>